<!--<ion-view view-title="Account">-->
  <!--&lt;!&ndash;<ion-content>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<ion-pane>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<div id="mapContainer"></div>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;sdadsadasd&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</ion-pane>&ndash;&gt;&ndash;&gt;-->



    <!--&lt;!&ndash;<div class="card">&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->

        <!--&lt;!&ndash;<div id="mapContainer"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<ion-list>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<ion-toggle  ng-model="settings.enableFriends">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;Enable Friends&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</ion-toggle>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</ion-list>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-content>&ndash;&gt;-->

<!--</ion-view>-->

<div id="mapContainer"></div>


