.fl{
    float:left;
}
.fr{
    float:right;
}
/*边距调整*/
.home_item .item {
    padding: 0px;
    border-width: 0px;
}

.home_item .item-avatar > img:first-child {
    top: 0px;
}

.home_item .row {
    padding: 0px;
}

.home_item .item-avatar {
    padding-left: 72px;
    min-height: 52px;
    margin: 10px 0;
}

.home_item .item h2 {
    font-weight: bold;
    color: #0a9ec7;
}

.home_item .item p {
    color: #3b94ad;
}

.home_item .item-body p {
    color: #666;
    padding: 0 10px;
}

/*��¼*/
.button.button-positive.button-clear {
    font-size: 12px;
    color: #fff;
}

.home_item .button.button-stable {

}

.home_item .col, .home_item .col .ion-ios-gear-outline {
    padding: 0px;
}

.icon .subdued {
    font-size: 14px;
}

.home_location {
    float: right;
    margin-top: 10px;
    color: #999;
}

.home_label {
    color: #33cd5f;
    padding: 0 10px;
    line-height: 20px;

}

/*选项卡*/
.table_list.tab-item {
    width: 100%;
}

.slider {
    height: 100%
}

.slidingTabs {
    height: 48px;
    z-index: 10
}

.slidingTabs .scroll {
    height: auto;
    min-width: 100%
}

.slidingTabs ul {
    height: 48px;
    border-bottom: 1px solid #bcbcbc;
}

.slidingTabs ul li {
    height: 48px;
    line-height: 48px;
    text-align: center;
    display: block;
    float: left;
    width: 50%;
    margin: 0;
    text-align: center;
    font-size: 14px;
    position: relative;
    overflow: hidden
}

.slidingTabs ul li.tab-active {
    color: #11c1f3;
    border-bottom: 2px solid #11c1f3;
}

.slidingTabs ul li .ink {
    display: block;
    position: absolute;
    background: rgba(56, 147, 245, .8);
    border-radius: 100%;
    transform: scale(0)
}

.slidingTabs .tab-indicator-wrapper .tab-indicator {
    height: 100%;
    background-color: #fff;
    width: 70px;
    position: relative
}

/*关注列表*/
.care_list .item-avatar {
    font-size: 12px;
    color: #5d5d5d;
}

.care_list .care_name {
    text-decoration: none;
    color: #0a9ec7;
    font-size: 12px;
}

.care_list .care_time {
    color: #989898;
}

.care_list ul li {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 0;

}

.care_list ul li img {
    max-width: 100%;
}

.care_item .item, .care_list .item {
    word-wrap: break-word;
    white-space: inherit;
}

.care_img {
    position: absolute
}

.care_text {
    float: left;
    width: 95%;
    min-height: 45px;
    border-bottom: 1px solid #e1e0e0;
    padding-right: 45px;
    word-wrap: break-word;

}

.care_button {
    position: absolute;
    right: 18px;
    height: 24px;
    min-height: 24px;
    min-width: 30px;
    padding: 0px;
    text-align: center;
    line-height: 24px;
    font-size: 10px;
    white-space: nowrap;

}

/* Empty. Add your own CSS if you like */
/* 覆盖action-sheet*/

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
}
.platform-android .action-sheet {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
    text-align: center;
}
.platform-android .action-sheet .action-sheet-title {
    padding: 16px;
    color: #8f8f8f;
    text-align: center;
    font-size: 13px;
}
.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}
.platform-android .action-sheet-group {
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.platform-android .action-sheet-group .button {
    border-width: 1px 0 0;
}
.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
}
.platform-android .action-sheet-cancel {
    font-weight: 500;
    display: block;
}
.platform-android .action-sheet-has-icons .button {}
/*solid*/
.search_slide .slider {
   height: 200px;
}
.search_slide .slider-slide {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.slider-slide img{
   width:100%;
}

.slider-pager-page i{
    display:none;
}

ion-item.ng-leave {
    opacity: 1;
    transition: .1s all ease-in;
}
ion-item.ng-leave.ng-leave-active {
    opacity: 0;
}
ion-item.ng-leave-active ~ ion-item:not(.ng-leave),
ion-item.ng-leave-active:last-of-type {
    /* get rid of tiny jump due to borders with the 1px calc */
    transform: translate3d(0, calc(-100% + 1px), 0);
    transition: .1s all ease-in;
}

ion-item.ng-leave-active:last-of-type {
    z-index: -1;
}
/*search*/
.search_top.item-input-inset .item-input-wrapper{
    background:#0a9ec7;

}

/*.search_top .placeholder-icon{
    color:#fff;
}
.search_input{
    color:#fff;
}*/
.search_title{
    width:100%;
    padding:0 10px;
    margin-top:10px;
    color:#7c7c7c;
    overflow:hidden;

}
.search_title a{
    color:#11c1f3;
    text-decoration: none;
}
.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.available-scroller {
    height: 120px;
}
.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 0px;
}
.search_scroll .scroll-bar-h{
    display:none;
}
.search_scroll .item{
border:none;
}
.search_scroll .card{
    box-shadow: none;
}
.search_scroll .item-body{
    padding:0px;
}
/*引导页*/

.make-centre{

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.box {
    height: 100%;

}
.blue{
    background-color: #444;
}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: pink;
}

.move-box{
@include make-centre;
    height: 100px;
    width: 100px;
    border: 2px solid;
    border-color: #444;
    z-index: 10;

    transition: -webkit-transform 1s;

}

