<ion-modal-view view-title="Login" name="login-view">

    <ion-header-bar class="bar-positive fix-buttons">
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input-inset">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>

            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Login</button>
        <button class="button button-block button-stable" ng-click="hideLogin()">Cancel</button>

        <div class="row">
            <div class="col col-10 col-offset-90"><a ng-click="showRegister()">注册</a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>