<ion-view ng-model="person" view-title="{{ person.name }}">

    <ion-content>
        <div class="person_header">
            <div class="person_background">
                <img class="background" src="{{ person.background }}"/>
            </div>
            <div class="shadow">
                <div class="person_photo">
                    <div class="photo_wrap">
                        <img class="photo" src="{{ person.photo }}"/>
                    </div>
                </div>
                <div class="person_name">

                    <span class="username">{{ person.name }}</span>
                </div>
                <div class="person_intro">{{ person.intro }}</div>

            </div>
        </div>


        <div class="button-bar bar-light">
            <a class="button" ng-click="person_info()" href="#">
                主页
            </a>
            <a class="button" ng-click="person_posts()" href="#">
                weiji
            </a>
            <a class="button" ng-click="person_favorite()" href="#">
                收藏
            </a>

        </div>

        <div class="posts">
            <ion-list>
                <ion-item ng-repeat="post in posts">

                    <div class="list card">

                        <div class="item item-body">
                            {{ post.content }}
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-thumbsup"></i>

                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-chatbox"></i>
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-plus-round"></i>

                            </a>
                        </div>                    </div>


                </ion-item>
            </ion-list>
        </div>

    </ion-content>


</ion-view>